.jumbotron {
	margin-top: 15px;
	margin-bottom: 15px;
	alignment-baseline: central;
	background: url('../img/jumbotron.jpg') no-repeat center center !important;
}

body {
	background-color: #18637F;
}

[class*="col-"] {
  padding-top: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

#google-btn 
{
left: 25px;
top: 25px;
	position: absolute;
}

#facebook-btn {
left: 25px;
	top: 50px;
	position: absolute;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.slider-handle {
	background: #2C3E58;
	border-radius: 3px;
}

.hidden {
	visibility: hidden;
	display: none;
}

#col-body {
  text-align: center;
}

#footer {
  text-align: right;
  font-style: italic;
  opacity: 0.8;
}

.disabled {
	opacity: 0.4 !important;
}

.active {
    border: 2px #2C3E58 solid !important;
}
